{{define "content"}}
<div class="exhibits">
    <div class="intro">
        <h1>{{.PageName}}</h1>
    </div>
    <div class="body-content">
        <p class="lead">{{.PageContent}}</p>
        <div class="exhibits-list">
            {{range .Exhibits}}
            <div class="exhibits-row" loading="lazy" >
                <div id="thumbnail">
                    <img src="{{.Thumbnail}}" />
                </div>
                <div id="info">
                    <h3>{{.Name}}</h3>
                    <p>{{.Description}}</p>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{end}}